.w50
{
    width: 50%;
}

.w66
{
    width: 66.66%;
}

.w33
{
    width: 33.33%;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}   

.container
{
    margin: 15px;
}

.container img
{
    width: 100%;
}

@media screen and (max-width: 800px)
{
    .w50
    {
        width: 100%;
    }

    .w50 .w50
    {
        width: 50%;
    }
}

@media screen and (max-width: 400px)
{
    .w33, .w66, .w50, .w50 .w50
    {
        width: 100%;
    }
}