body
{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}
table
{
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    background-color: white;
}

th, td
{
    padding: 6px 8px;
}

th
{
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: left;
    padding: 8px;
}

td
{
    border: 1px solid lightgray;
}
tr th:first-child
{
    display: flex;
    justify-content: space-between;
}

tbody tr:nth-child(even)
{
    background-color: #fafafa;
}
input[type="text"]
{
    width: 100%;
}

.d-none
{
    display: none;
}

#pagination
{
  display: flex;
  justify-content: center;
}

#pagination a
{
    padding: 5px;
    min-width: 15px;
    text-align: center;
    color: #24a0ed;
    margin: 0 2px;
}

#pagination a.disabled
{
    color: grey;
}

#pagination a.selected
{
    border: 1px solid #24a0ed;
    border-radius: 2px;
    background-color: #24a0ed;
    color: white;
}

#stats
{
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    font-size: 0.5em;
}